.flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.columnh {
    padding: 10px 0;
    height: 10vh;
    text-align: center;


}

.footer {
    height: 10vh;
    padding: 10px 0;
    text-align: center;
}



@media screen and (max-height: 690px) {
    #top-red h1 {
        font-size: 20px;
    }
    #top-blue h1 {
        font-size: 20px;
    }
    #top-green h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    #top-blue h1 {
        font-size: 20px;
    }
    #top-green h1 {
        font-size: 20px;
    }
    #top-red h1 {
        font-size: 20px;
    }
}


@media screen and (max-width: 832px){
    .imageP {
       max-width: 75%;
    }
    .imageP2 {
          max-width: 75%;
    }
    #modal h1 {
        font-size: 30px;
    }
    #color h1 {
        font-size: 20px;
    }
}

.headerE {
    padding: 10px;
    height: 10vh;
    text-align: center;
}

.bColour {
    height: 100vh;

}

.column {
    padding: 10px;
    height: 80vh;

}

#top-green {
    background-color:#93c47d;
}

#top-red {
    background-color:#e06666;
}

#top-blue{
    background-color:#6d9eeb
}

#green {
    background-color:#b6d7a8
}

#red {
    background-color:#f4cccc
}

#blue {
    background-color:#a4c2f4
}

#color{
    background-color: lightblue;
}

#backgroundG{
    background-image:url(../img/backgroundG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#backgroundR{
    background-image:url(../img/backgroundR.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

#backgroundB{
    background-image:url(../img/backgroundB.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imageP {
    z-index: 2;
    position: fixed;
    top: 30vh;
    left: 10vw;
}

.imageP2 {
    z-index: 2;
    position: fixed;
    top: 60vh;
    left: 10vw;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 90vh;
    font-size: 40px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}








